@font-face {
    font-family: 'Philosopher-Bold';
    src: url('../fonts/Philosopher/Philosopher-Bold.ttf');
}

.navbar {
    display: flex;
    background-color: #19181B;
    color: darkgrey;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 1rem 0 1rem;
}

.navbar-left-element > a {
    display: flex;
    align-content: center;
}

.navbar-center-element {
    margin: 0 auto;
    text-align: center;
}

.navbar-right-element {
    display: flex;
    justify-content: right;
    align-content: center;
    gap: 0.5rem;
}

.navbar-right-element > button {
    /*margin: 0 0.2rem 0 0.2rem;*/
}

.navbar-element {
    width: 33%;
}

#logo {
    width: 3rem;
}

#title {
    color: #DFD3F6;
    font-family: 'Philosopher-Bold', serif;
}

#options > button {
    height: 2rem;
    width: 6rem;
    background-color: #A079F2;
    border-color: transparent;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-family: 'Philosopher-Bold', serif;
}

#options > button:active {
    scale: 0.95;
}