@font-face {
    font-family: 'Philosopher-Bold';
    src: url('../fonts/Philosopher/Philosopher-Bold.ttf');
}

.navbar {
    display: flex;
    background-color: #19181B;
    padding: 1rem;
    color: darkgrey;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

.navbar-left-element {
    text-align: left;
}

.navbar-center-element {
    margin: 0 auto;
    text-align: center;
}

.navbar-right-element {
    text-align: right;
}

.navbar-element {
    width: 33%;
}

#logo > img {
    width: 3rem;
}

#title {
    color: #DFD3F6;
    /*padding: 0 30rem 0 30rem; */
    font-family: 'Philosopher-Bold', serif;
}

#options > button {
    height: 2rem;
    width: 6rem;
    background-color: #A079F2;
    border-color: transparent;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-family: 'Philosopher-Bold', serif;
}

#options > button:active {
    scale: 0.95;
}