* {
    /*outline: solid 1px red;*/ /* debug */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0 0 0;
    font-size: 1.5rem;
    font-family: 'Philosopher-Bold', serif;
    color: #DFD3F6;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
}
