body {
    padding: 0;
    margin: 0;
    background-color: #2C2B2E;
    color: white;
}

main {
    display: flex;
    gap: 1.5rem
}

#content {

}

#options {

}

.link {
    color: aliceblue;
    text-decoration: none;
}

.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}